@import "../../assets/sass/utils/variables.scss";

.incidents {
  color: #fff;
  .title {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  &__table {
    width: 100%;
    table {
      width: 100%;
      border-radius: 5px;
      thead {
        text-align: left;
        background-color: #27293be5;
        border-collapse: collapse;
        & th {
          font-weight: 400;
          font-family: $montserrat;
          color: $primary-text-color;
          font-size: 1.3rem;
          padding: 10px;
        }
      }
      tbody {
        tr td {
          padding: 5px;
          font-size: 1.2rem;
        }
        .monitor {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        .url {
          font-size: 1.2rem;
        }
        .cause {
          font-size: 1.1rem;
          color: $primary-text-color;
        }
        .currentStatus {
          padding-left: 20px;
          span {
            position: relative;
          }
          span::before {
            position: absolute;
            left: -12px;
            top: 4px;
            content: "";
            width: 7px;
            height: 7px;
            background: #ff4242;
            border-radius: 50%;
          }
        }
        .iconWrapper {
          border-radius: 3px;
          padding: 5px;
          width: 30px;
          height: 30px;
          display: grid;
          place-items: center;
          background: #e0373731;
          font-size: 1.5rem;
        }
      }
    }
  }
}
