@import "../../assets/sass/utils/variables.scss";

.notifications {
  margin-right: 2px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  &:hover {
    transition: all ease 0.2s;
    background-color: #939db834;
  }
  &Panel {
    background: #293040;
    position: absolute;
    right: 0;
    top: 105%;
    width: max-content;
    padding: 5px 7px;
    border-radius: 4px;
    font-size: 1.2rem;
    background-color: #303132;
    box-shadow: 0, 0, #00000000, 0, 0, #00000000;
    .notification {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.086);
      color: #d3d3d3;
      font-size: 1.3rem;
      &:last-child{
        border: none;
      }
      img{
          width: 25px;
      }
      .name{
        width: 30px;
        height: 30px;
        display: grid;
        color: #fff;
        font-weight: 600;
        place-items: center;
        border-radius: 50%;
          background-color: red;
      }
      .content {
        button {
          padding: 4px 8px;
          cursor: pointer;
          margin-top: 8px;
          margin-right: 8px;
          border: 2px solid #3b4254;
          transition: all ease .2s;
          font-size: 1.2rem;
          &:nth-child(1) {
            color: #fff;
            // border: 1px solid ;
            background-color: transparent;
          }
          &:nth-child(2) {
            color: #fff;
            background-color:$primary-button;
          }
        }
      }
    }
  }
}
