@import "@/assets/sass/utils/variables.scss";
@import "@/assets/sass/utils/mixins.scss";

.notificationsPanel {
  
  position: absolute;
  right: 0;
  top: 105%;
  width: max-content;
  padding: 5px 7px;
  border-radius: 4px;
  font-size: 1.2rem;
  background-color: #07192d;
  box-shadow: 0, 0, #00000000, 0, 0, #00000000;

  .notificationMarkAsRead {
    padding-top: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    button {
      border: none;
      color: rgb(151, 147, 147);
      background: transparent;
      cursor: pointer;
      line-height: 0;
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 1rem;
      &:hover {
        transition: all ease .2s;
        color: rgba(242, 242, 242, 0.842);
      }
    }
  }

  .notification {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.086);
    color: #d3d3d3;
    font-size: 1.3rem;
    &:last-child {
      border: none;
    }
    img {
      width: 25px;
    }
    .name {
      width: 30px;
      height: 30px;
      display: grid;
      color: #fff;
      font-weight: 600;
      place-items: center;
      border-radius: 50%;
      background-color: red;
    }
    .content {
      font-size: 1.5rem;
      .date {
        padding-top: 3px;
        color: #9e9797;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        // justify-content: flex-end;
      }
      button {
        padding: 4px 8px;
        cursor: pointer;
        margin-top: 8px;
        margin-right: 8px;
        border: 2px solid #3b4254;
        transition: all ease 0.2s;
        font-size: 1.2rem;
        border-radius: 3px;
        &:nth-child(1) {
          color: #fff;
          background-color: transparent;
        }
        &:nth-child(2) {
          color: #fff;
          background-color: $primary-button;
        }
      }
    }
  }
}
