@import "../../assets/sass/utils/variables.scss";
@import "../../assets/sass/utils/mixins.scss";

.monitors {
  &_head {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 20px;
    h2 {
      color: #fff;
      font-size: 3rem;
    }
    button {
      @include primaryButton;
    }
  }
}
