@import '@/assets/sass/utils/mixins';

.pageHeader{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 20px;
    h2 {
      color: #fff;
      font-size: 3rem;
    }
    button {
      @include primaryButton;
    }
}