@import "../../assets/sass/utils/variables.scss";
@import "../../assets/sass/utils/mixins.scss";

.wrapper {
  h1 {
    font-size: 3rem;
    color: #fff;
    margin: 20px 0;
  }
  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
    button {
      @include primaryButton;
    }
  }
}
