.wrapper {
  h1 {
    font-size: 3rem;
    color: #fff;
    margin: 20px 0;
  }
  &_grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
  }
  .description {
    padding-top: 10px;
    h4 {
      font-size: 2rem;
      color: #fff;
      margin-bottom: 10px;
    }
    p {
      font-size: 1.3rem;
      color: #939db8;
    }
  }
  .inputsArea{
    &_box{
        border-radius: 12px;
        padding: 20px 15px;
    }
  }
}
