@import "../../../../assets/sass/utils/variables.scss";

.monitorSkeleton {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  background: $secondary-blue;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 12px 20px;
  .details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
