@import "../utils/variables.scss";

:global(.hoverEffect) {
  &:hover {
    transition: all ease 0.2s;
    background-color: #939db834;
  }
}

:global .sectionWrapper {
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin-bottom: 20px;
  .two-col{
    display: flex;
    gap: 20px;
  }
  .description {
    // padding-top: 10px;
    h4 {
      font-size: 2rem;
      color: #fff;
      margin-bottom: 10px;
    }
    p {
      font-size: 1.3rem;
      color: #939db8;
    }
  }

  .inputArea {
    padding-left: 70px;
    &_container {
      border-radius: 12px;
      padding: 30px 20px;
      background: $secondary-blue;
    }
    .inputWrapper,
    .selectWrapper {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      &:last-child {
        margin-bottom: 0px;
      }
      label {
        color: #fff;
        font-size: 1.4rem;
      }
      input,
      select {
        margin-top: 5px;
        border: none;
        background-color: transparent;
        border: 1px solid #4e576e;
        border-radius: 8px;
        padding: 10px 12px;
        color: #fff;
        &:focus {
          outline: none;
          border: 1px solid #798297;
        }
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 250px;
        option {
          background-color: #4e576e;
          color: #fff;
          padding: 4px 0;
        }
      }
    }
  }
}

//Skeleton loader styles
.LoadingSkeleton {
  border-radius: 50%;
  opacity: 0.8;
  background-color: rgba(158, 155, 155, 0.377);
  animation: skeletonLoading 1.5s ease-in-out 0.5s infinite;
  @keyframes skeletonLoading {
    0% {
      // background-color: hsla(202, 11%, 86%, 0.253);
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
      // background-color: hsla(204, 20%, 95%, 0.349);
    }
  }
}
