@import "./variables.scss";

@mixin btn {
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@mixin primaryButton {
  @include btn;
  background-color: $primary-button;
  border: 2px solid $primary-button;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  &:hover {
    background-color: #4046ee;
  }
}

@mixin outlinedButton {
  @include btn;
  background-color: rgb(31 41 55/1);
  border: rgb(75 85 99/1);

  &:hover {
    background-color: rgb(55 65 81/1);
    border: rgb(75 85 99/1);
  }
}

@mixin hoverEffect {
  transition: all ease 0.2s;
  background-color: #939db834;
}
