.sidebarLink {
  max-width: 250px;
  margin: 0 auto;
  border-radius: 7px;
  margin-bottom: 1.5px;
  a {
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    transition: all ease 0.2s;
    &:hover {
      background-color: #4549554b;
    }
  }
}
