@import "../../assets/sass/utils/variables.scss";

.monitorActionsMenu {
  border: 1px solid #3b4254;
  border-radius: 5px;
  background-color: $secondary-blue;
  .action {
    padding: 10px 15px;
    color: #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    &:last-child {
      border-top: 1px solid #3b4254;
    }
    &:hover {
      background-color: #3b4254;
    }
  }
}
