.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  padding-bottom: 10px;
  &_details {
    border-radius: 5px;
    font-size: 1.2rem;
    display: flex;
    padding: 6px 10px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  &_pp {
    .letters {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: rgb(73, 153, 7);
      color: #fff;
      display: grid;
      font-size: 1.3rem;
      place-items: center;
      font-weight: 600;
    }
  }
}
