.LoadingSkeleton {
  border-radius: 50%;
  animation: skeletonLoading 1s linear infinite alternate;
  @keyframes skeletonLoading {
    0% {
      background-color: hsla(202, 11%, 86%, 0.253);
    }
    100% {
      background-color: hsla(204, 20%, 95%, 0.349);
    }
  }
}
