.circle {
  border-radius: 50%;
  opacity: 0.8;
  background-color: rgba(158, 155, 155, 0.377);
  animation: skeletonLoading 1.5s ease-in-out 0.5s infinite;
  @keyframes skeletonLoading {
    0% {
      // background-color: hsla(202, 11%, 86%, 0.253);
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
      // background-color: hsla(204, 20%, 95%, 0.349);
    }
  }
}
