@import "../../assets/sass/utils/variables.scss";

.monitor {
  background: $secondary-blue;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    &_dot {
      width: 10px;
      height: 10px;
      background: green;
      border-radius: 50%;
    }
    &_url {
      color: #fff;
      font-size: 1.4rem;
      .url {
        margin-bottom: 5px;
      }
      .status {
        color: #939bb8;
        &_text {
          color: rgb(206, 39, 39);
        }
      }
    }
  }
  .actions {
    .dots {
      padding: 0px 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
      color: #939bb8;
    }
  }
}
