.login,
.register {
  background-color: #fff;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
.registerLeft {
  height: 100%;
  display: grid;
  place-items: center;
  @media (max-width: 478px) {
    padding: 0 20px;
  }

  &Wrapper {
    width: 100%;
    max-width: 400px;
  }
  .title {
    font-size: 28px;
    text-align: left;
  }
  .desc {
    color: #727272;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .divider {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
    font-size: 13px;
    color: rgba(177, 174, 174, 0.479);
    & > div {
      width: 100%;
      height: 1px;
      background: rgba(177, 174, 174, 0.267);
    }
  }
  form {
    .inputControl {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      position: relative !important;
      label {
        margin-bottom: 2px;
        font-size: 12px;
        font-weight: 500;
        color: #242323;
      }
      .revealIcon{
        position: absolute;
        right: 5px;
        top:25px;
        cursor: pointer;
        width: max-content;
      }
      input {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        padding: 10px 8px;
        font-size: 12px;
        outline: none;

        &:focus {
          border: 1px solid #3069fe;
        }
      }
      img {
        cursor: pointer;
        width: 16px;
        position: absolute;
        top: 35px;
        right: 10px;
      }
    }
    .towCol {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
    }
    .agreementCheckbox , .rememberLogin{
      font-size: 13px;
      cursor: pointer;
      input {
        margin-right: 8px;
      }
      b{
        color: #184ccf;
      }
    }
    .loginButton {
      width: 100%;
      border-radius: 4px;
      padding: 12px 0;
      text-align: center;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      background-color: #070a11;
      border: none;
      margin-top: 35px;
      transition: all ease 0.2s;
      &:hover {
        background-color: #0a0b0f;
      }
    }
  }
  .redirect {
    margin-top: 10px;
    font-size: 14px;
    a {
      color: #184ccf;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
.loginRight {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  // background-image: url('../../assets/images/homepageImage.png');
  // background-position: 0% 10% ;
  img {
    // object-position: ;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    object-fit: contain;
    position: absolute;
    width: 150%;
    top: 100px;
    left: 20%;
    // max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  @media (max-width: 900px) {
    display: none;
  }
}
.validationError {
  text-align: center;
  font-size: 11px;
  margin-bottom: 8px;
  display: flex;
  gap:5px;
  align-items: center;
  justify-content: center;
  color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.signUp .title {
  margin-bottom: 20px;
}

.signUp .loginLeftWrapper .inputControl {
  margin-bottom: 10px;
}
.signUp .loginLeftWrapper .rememberLogin {
  margin-top: 20px;
  display: inline-block;
}
